{% extends 'blogs/base.html' %}

{% block header %}

    <div class="list-group list-group-flush my-3">
        {% for blog in blogs %}
            <a class="list-group-item list-group-item-action" href=
                    "{% url 'blogs:blog' blog.id %}">{{ blog.title }}</a>
        {% empty %}
            <a class="list-group-item
            list-group-item-danger list-group-item-action
            disabled" >There is o blog post.</a>
        {% endfor %}
    </div>

{% endblock %}

{% block content %}

{% endblock %}
