{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block header %}

    <h2>New Blog</h2>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <form action="{% url 'blogs:new_blog' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button name="submit" class="btn
                btn-outline-success btn-block">Post</button>
            </form>

        </div>
    </div>


{% endblock %}